{% extends 'stock/layout.html' %}
{% block content %}
{% load static %}

{% if items %}
<form class="form" action="" method="post" id="form">
    {% csrf_token %}
    <div class="container">
    {%for item in items %}
        <div class="row">
          <p>{{item.name}}</p>
          <p><input type="number" name="{{item.name}}" value="0" \></p>
        </div><div class="clr"></div>
    {% endfor %}
<div class="row">
<p><button type="button" onclick="submitform('back')">Cancel</button></p>
<p><button type="button" onclick="submitform('submit')">Topup</button></p>
</div><p class="clr"></p>



    </div>
<div class="hidden_form">
  <a href="{% url 'stock:list_top_up' %}" id="back"></a>
  <button type="submit" name="submit" id="submit"></button>
</div>
</form>
{% endif %}
{% endblock %}
