{% extends 'stock/layout.html'%}
{%block content%}
{% load static %}
{% if message %}
<div class="message">
  <p>{{message}}</p>
</div>
{% endif %}
{% if top_up %}
<form class="" action="" id='form' method="post">
  {% csrf_token %}
<div class="container">
  <div class="row">
    <p>name</p>
    <p>{{top_up.item.name}}</p>
  </div>
<div class="clr"></div>
<div class="row">
  <p>value</p>
  <p><input type="number" name="value" value="{{top_up.value}}"></p>
</div>
<div class="clr"></div>
<div class="row">
<p><button type="button" onclick="submitform('back')">CANCEL</button></p>
<p><button type="button" onclick="submitform('submit')">EDIT</button></p>
</div>
<div class="clr"></div>
<div class="row">
  <p>Delete {{top_up.item.name}}</p>
  <p><button type="button" onclick="verify('DELETE',event)">Delete</button></p>
</div>
<div class="clr"></div>
<div class="hidden_form">
  <a href="{% url 'stock:list_top_up' %}" id="back"></a>
  <input type="text" name ="form_verifypwd" id="form_verifypwd" value="">
  <button type="submit" name ="submit" id="submit"></button>
  <button type="submit" name="DELETE"  id="DELETE"></button>
</div>

</div>
</form>
{% include 'stock/menu/popup.html' %}
{% else %}
ไม่พบข้อมูล
{% endif %}


{%endblock%}
