{%extends 'stock/layout.html'%}
{%block content%}
{% load static %}
<p class="result">{{createnewitem}}</p>

<form class="" action="" method="post" id="form">

<div class="container">
    {% csrf_token %}
    <div class="row">
      <p>สินค้า</p>
      <p><input type="text" name="name" value=""></p>
    </div>
    <div class="clr"></div>

    <div class="row">
      <p>ราคาต่อหน่วย</p>
      <p><input type="number" name="price" value="0"></p>
    </div>
    <div class="clr">  </div>

    <div class="row">
      <p>ประเภทสินค้า</p>
      <p id="type_selectd" onclick="popup_type(event)">click to select</p>
    </div>
    <div class="clr"></div>

    <div class="row">
      <p><a onclick="submitform('CANCEL')">Cancel</a></p>
      <p><a onclick="submitform('CREATE')">Create</a></p>
    </div>
    <div class="clr"></div>

</div>
<div class="hidden_form">
    <input  type="number" id='type' name="type" value="">
    <button type="submit" id ="CREATE" name="CREATE">CREATE</button>
    <a href="{% url 'stock:list_item' %}" id="CANCEL">CANCEL</a>
</div>

</form>

{%endblock%}
{% block script %}
<script type="text/javascript">
  popup='popup_item'
</script>
{% endblock script %}
