{% extends 'stock/layout.html'%}
{%block content%}
{% load static %}
<div class="container" >
{% if message %}
    <div class="message">
        <p>{{message}}</p>
    </div>

    {% endif %}
{% if item %}
<form action="" method="post" id="form">
    {%csrf_token%}
<div class="row">
    <p>สินค้า</p>
    <p>{{item.name}}</p>
</div><div class="clr"></div>
<div class="row">
    <p>ราคา</p>
    <p><input name="price" id='price' type="number" value="{{item.price}}"></p>
</div><div class="clr"></div>
<div class="row">
      <p>ประเภท</p>
      <p onclick="popup_type(event,'popup_item')" id="type_selectd"> type</p>
</div>
<div class="clr"></div>
<div class="row">
  <p><a href="{% url 'stock:list_item' %}">Cancel</a></p>
  <p><a onclick="submitform('UPDATE')">Update</a></p>

</div><div class="clr"></>
  <div class="row">
    <p>ลบสินค้าออกจาก ฐานข้อมูล</p>
    <p><a onclick="verify('DELETE',event)">ลบ {{item.name }}</a></p>

  </div><div class="clr">

  </div>
{% include 'stock/menu/popup.html' %}
  <div class="hidden_form">
    <input id="type"   name="type"   value="{{item.type}}">
    <input name="form_verifypwd" id="form_verifypwd">
    <button type="sumbit" id="UPDATE" name="UPDATE">UPDATE</button>
    <button type="sumbit" id="DELETE" name="DELETE" >DELETE</button>
  </div>
</form>
{% else %}
ไม่พบข้อมูล
{% endif %}

<div class="clr"></div>
<div class="verifypwd" id="verifypwd">
  <p><input type="password" name="verifypwdinput" placeholder="verify password"></p>
  <p><button type="button" onclick="verify('submit')">verify</button>
    <button type="button" onclick="verify('cancel')">cancel</button></p>

</div>

</div>  <!-- end container -->



{%endblock%}
{%block script%}
<script type="text/javascript">
  popup = "popup_item"
  viewpage()
</script>

{%endblock%}
