{%extends 'stock/layout.html' %}
{%block content%}
<div class="container">
<table class="table">
{% if items %}
    <tr>
        <th>name</th><th>id</th><th>price</th><th>type</th><th></th>
    </tr>
{% for item in items %}
    <tr><th>{{item.name}}</th>
        <td>{{item.id}}</td>
        <td>{{item.price}}</td>
        <td>
            {{item.type}}</td>
        <th><a href="{% url 'stock:edit_item' item.id %}" >แก้ไข</a></th>


    </tr>
{% endfor %}
    {% endif %}

    <tr>
        <td >
            <a class="btn btn-success" href="{% url 'stock:create_item' %}">เพิ่มรายการ</a>
        </td>
    </tr>
</table>
</div>
{% endblock %}