
{% if items %}
<form action="" method="post" />
{%csrf_token%}
<table class="table">
    <tr>
        <th>name</th>
        <th>first</th>
        <th>last</th>
        <th>price</th>
        <th>sales</th>
        <th>money</th>
        <th>sum</th>
    </tr>
{% for item,item_start,item_end,item_sale,item_money,item_sum in items %}
    <tr>
        <th>{{item.name}}</th>
        <td>{{item_start}}</td>
        <td name="{{item.name}}" id="last_{{forloop.counter}}" onclick="input(this,event)">{{item_end}}
        </td>
        <td id="price_{{forloop.counter}}">{{ item.price }}</td>
        <td id="sale_{{forloop.counter}}" onclick="input(this,event)" class="lastvalue">{{ item_sale }}</td>
        <td id="money_{{forloop.counter}}">{{item_money }}</td>
        <td id="sum_{{forloop.counter}}">{% if forloop.last %}
        {{item_sum}} {% endif %}</td>
    </tr>
{% endfor %}
</table>

    </form>
<!--  </table> -->
{% endif %}
