{% extends 'stock/layout.html' %}
{%block content%}
{% if message %}
<div class="message" role="alert">
  {{message}}
</div>
{% endif %}
<div class="container">
<form class="form" action="" method="post">
    {% csrf_token %}
    <div class="row">
      <p>รายการ</p>
      <p><input type="text" name="name" value=""></p>
    </div><div class="clr"></div>

    <div class="row">
      <p>ยอดเงิน</p>
      <p><input type="number" name="value" value=""></p>
    </div><div class="clr"></div>

    <div class="row">
      <p><button type="button" onclick="history.go(-1)">Cancel</button></p>
      <p><button type="submit" name="submit">บันทึก</button></p>
    </div><div class="clr"></div>
</form>
</div>

{% endblock%}
