{% extends 'stock/layout.html'%}
{%block content%}
{% if message %}
<div class="alert alert-danger">{{message}}</div>
{% endif %}
{% if temp %}
<div class="container">
    <div class="col-md-8">

<form action="" method="post">
    {%csrf_token%}
    <input type="hidden" name="temp_id" value="{{temp_id}}">
    <div class="content-grop">
        <label class="form-control-label" name="{{temp.name}}"><h1>{{temp.name}}</h1></label>
    <input name="value" TYPE="number" class="form-control form-control-lg" value="{{temp.value}}" />
    </div>
    <button class="btn btn-success" type="submit" name="update">Update</button>

        <a  class="btn btn-dark" href="{%url 'stock:list_temp'%}">Cancel</a>
    <div class="form-group">
        <label class="label label-danger">ลบสินค้าออกจาก ฐานข้อมูล</label><br>
        <input type="submit" name="DELETE" class="btn btn-danger" value="ลบ {{temp.name }}">
    </div>
</form>
{% endif %}
    </div>
</div>

{%endblock%}