{% extends 'stock/layout.html'%}
{%block content%}
{% if message %}
<div class="message">{{message}}</div>
{% endif %}
{% if temp %}
<form action="" method="post" id="form">
<div class="container">
    {%csrf_token%}
    <div class="row">
      <p>รายการ</p>
      <p>{{temp.name}}</p>
    </div><div class="clr"></div>

    <div class="row">
      <p>ยอดเงิน</p>
      <p><input type="text" name="value" value="{{temp.value}}"></p>
    </div><div class="clr"></div>

    <div class="row">
      <p><button type="button" onclick="history.go(-1)">Cancel</button></p>
      <p><button type="submit" name="submit">Change</button></p>
    </div><div class="clr"></div>

    <div class="row">
      <p>Delete {{temp.name}}</p>
      <p><button type="button" onclick="verify('DELETE',event)">DELETE</button></p>
    </div><div class="clr"></div>

</div>

<div class="hidden_form">
    <input  type="hidden" name="temp_id" value="{{temp.id}}" />
    <input type="" name="form_verifypwd" id="form_verifypwd" value="">
    <button type="submit" name="DELETE" id="DELETE"></button>
</div>

</form>
{% include 'stock/menu/popup.html' %}
{% endif %}
{%endblock%}
