{% extends 'stock/layout.html' %}
{%block content%}
{% if message %}
<div class="alert alert-danger" role="alert">
  {{message}}
</div>
{% endif %}
{% if form %}
<div class="container">
<form id="form" action="" method="post">
    {% csrf_token %}
    <div class="row">
        <p>รายการ</p>
        <p><input name="name" /><p>
    </div><div class="clr"></div>
    <div class="row">
        <p>ยอดเงิน</p>
        <p><input type="number" name="value" /><p>
    </div><div class="clr"></div>
    <div class="row">
        <p>ประเภท</p>
        <p id="type_selectd" >เลือกประเภท</p>
    </div><div class="clr"></div>
    <div class="row">
      <p><button type="button" onclick="history.go(-1)">Cancel</button></p>
      <p><button type="submit" >บันทึก</button></p>

    </div><div class="clr"></div>
  <div class="hidden_form">
    <input type="text" name="type" id="type" value="{{form}}">

  </div>
</form>
</div>


{% endif %}
{% endblock%}

{% block script %}
{% if popup %}
<script type="text/javascript">
  popup = '{{popup}}'
  viewpage()
</script>

{% endif %}
{% endblock script %}
