{% extends 'stock/layout.html' %}
{%block content%}
{% if message %}
<div class="alert alert-danger" role="alert">
  {{message}}
</div>
{% endif %}
<div class="container">
<form class="form" action="" method="post">
    {% csrf_token %}
    <div class="row">
        <p>รายการ</p>
        <p><input name="name" /><p>
    </div><div class="clr"></div>
    <div class="row">
        <p>ยอดเงิน</p>
        <p><input type="number" name="value" /><p>
    </div><div class="clr"></div>
    <div class="row">
        <p>ประเภท</p>
        <p id="type_selectd" onclick="popup_type(event,'popup_statement')">select</p>
    </div><div class="clr"></div>
    <div class="row">
      <p><button type="button" name="button">Cancel</button></p>
      <p><button type="submit" >บันทึก</button></p>

    </div><div class="clr"></div>
</form>
</div>
{% endblock%}
