{% extends 'stock/layout.html'%}
{%block content%}
{% if message %}
<div class="alert alert-danger">{{message}}</div>
{% endif %}
{% if expense %}
<div class="container">
    <div class="col-md-8">

<form action="" method="post">
    {%csrf_token%}
    <input  type="hidden" name="expense_id" value="{{expense.id}}" />
    <div class="content-grop">
        <label class="form-control-label" name="{{expense.name}}"><h1>{{expense.name}}</h1></label>
    <input name="value" TYPE="number" class="form-control form-control-lg" value="{{expense.value}}" />
    </div>
    <div class="content-group">
        <label class="form-control-label" ><H3>Record Date</H3></label>
        <label class="form-control form-control-lg">{{expense.date_log}}</label>
    </div>
    <button class="btn btn-success" type="submit" name="update">Update</button>

        <a  class="btn btn-dark" href="{%url 'stock:list_expense'%}">Cancel</a>
    <div class="form-group">
        <label class="label label-danger">ลบสินค้าออกจาก ฐานข้อมูล</label><br>
        <input type="submit" name="DELETE" class="btn btn-danger" value="ลบ {{expense.name }}">
    </div>
</form>
{% endif %}
    </div>
</div>

{%endblock%}