h1{
    color:green;
}
li,table{
    color:rgb(165, 51, 9);
    background-color: rgb(235, 223, 225);
    border-block-color: pink;
}
.table-fillup{
    font-size: 35px;
}

.w3-btn,.w3-button{border:none;
display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}


/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
/* Style col date  */
.coldate{
  width: 20%;
}
input {
    border: none;
    background: transparent;
}