.container{
  width: 100%;
  background-color: #ccc;
  margin: auto;

}
button{
  border: 1px solid DodgerBlue;
  border-radius: 3px;
  font-size: 30px;
  padding: 14px 16px;
  cursor: pointer;
  background: #ccc;
}
button:hover{
  background-color: #ddd;
}
.clr{
  clear: both;
}
.row{
  border: 1px solid DodgerBlue;
  font-size: 30px;
}
.row p{
  float: left;
  text-align: right;

  font-family: arial;
  padding: 14px 16px;
  margin-right: 50px;
}
.row p:first-child{
  width: 170px;
}
.row p:last-child{
  width: 200px;
}
.row input{
  font-size: 30px;
  max-width: 150px;
  text-align: right;
  background-color: inherit;
}
.row a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}
#popup{
  display: none;
}
#popup ul{
  position: fixed;
  /*top: 200px;
  left: 480px;*/
}
#popup li{
  list-style: none;
  text-align: right;
  font-size: 20px;
  padding: 14px 56px;
  background-color: #ccc;
}
#popup li:hover{
  background-color: #ddd;
}
.hidden_form{
  display: none;
}
.verifypwd{
  position: fixed;
  display: none;
  border: 1px solid #eee;
  background-color: #ddd;
  border-radius: 10px;
}
.verifypwd input{
    font-size: 16px;
    width: 250px;
    padding: 20px 20px;
    text-align: center;
    background-color: inherit;
}
.verifypwd p{
  text-align: center;
}
.message{
  color: red;
  font-size: 50px;
  text-align: center;
}
@media(min-width: 1000px) {
  .container{
    width: 80%;
  }
  .row{
    font-size: 22px;
  }
  .row p:first-child{
    width: 350px;
  }
  #popup li{
    font-size: 22px;
  }

}
