<!DOCTYPE html>
{%load static %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'stock/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'stock/css/edit.css' %}">
    <meta charset="utf-8">
    <title>Layout 2</title>
  </head>
  <body>

    <nav id="navbar">
      {% include 'stock/menu/leftmenu.html' %}
    </nav>
    <div class="clr"></div>




      {%block content%}
      {%endblock%}

    <script type="text/javascript" src="{% static 'stock/scripts/edit.js' %}">

    </script>    
        {%block script%}
        {%endblock script%}
  </body>
</html>
